/* Estilos para o container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: red;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para as colunas */
.form-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column {
    flex-basis: calc(50% - 15px);
    margin-bottom: 15px;
}

/* Estilos para os campos */
label {
    font-weight: bold;
}

input,
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    transition: border-color 0.2s;
    width: 100%;
    margin-bottom: 10px;
}

input:focus,
textarea:focus {
    outline: none;
    border-color: #3498db;
}

