/* Navbar */
:root {
	--tecnovix-dark: #18283a;
	--tecnovix-light: #773dbe;
}

.Nav {
	width: 100%;
}

.Rectangle1 {
    width: 100%;
    height: 186px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: var(--tecnovix-light);
}

.Rectangle2 {
    width: 396px;
    height: 244px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: var(--tecnovix-dark);
}

.Ellipse1 {
    width: 352px;
    height: 244px;
    left: 198px;
    top: 0px;
    position: absolute;
    background: var(--tecnovix-dark);
    border-radius: 9999px;
}

.Rectangle3 {
    width: 100%;
    height: 72px;
    left: 374px;
    top: 0px;
    position: absolute;
    background: var(--tecnovix-dark);
}

.Rectangle4 {
    width: 100px;
    height: 100px;
    left: 500px;
    top: 22px;
    position: absolute;
    background: var(--tecnovix-dark);
}

.Ellipse2 {
    width: 100px;
    height: 100px;
    left: 550px;
    top: 72px;
    position: absolute;
    background: var(--tecnovix-light);
    border-radius: 9999px;
}

.Tecnovix {
    width: 315px;
    height: 71px;
    left: 155px;
    top: 93px;
    position: absolute;
}